<h1>Listing simulations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <!--<th></th>-->
    </tr>
  </thead>

  <tbody>
    <% @simulations.each do |simulation| %>
      <tr>
        <td><%= simulation.name %></td>
        <td>
          <%#= link_to 'Show', simulation %>
          <%= link_to 'Play', simulation %>
        </td>
        <td>
          <%#= link_to 'Edit', edit_simulation_path(simulation) %>
          <%= link_to 'Download', "#" %>
        </td>
        <!--<td>-->
          <!--<%#= link_to 'Destroy', simulation, method: :delete, data: { confirm: 'Are you sure?' } %>-->
        <!--</td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulation', new_simulation_path %>
