<div class="row">
  <div class="col-sm-6 col-md-4">
    <h3 class="list_heading text-left">Listing simulations</h3>
    <div class="listing-wall">
      <% @simulations.each do |simulation| %>
          <div id="<%= simulation.id %>" class="listing_box listing_box_1"><%= simulation.name %></div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <%= link_to 'Play', "#", :id=>"play_btn", :class=>"btn btn-lg button_style button_box" %>
  </div>
</div>


<script>
    $(function () {
        var sim_id;
        $(".listing_box").click(function () {
            sim_id = $(this).attr("id");
            $("#play_btn").attr("href", "/play_sim/"+sim_id);
            $(".listing-wall").find(".listing_box").each(function() {
                $(this).removeClass("listing_box_2").addClass("listing_box_1");
            });
            $(this).removeClass("listing_box_1").addClass("listing_box_2");
        });

    });
</script>