<style>
    IFRAME:focus {
        outline: none;
    }

    IFRAME[seamless] {
        display: block;
    }
#player_iframe{
    height: 580px !important;
}
</style>

<!--[if IE]>
<link rel="stylesheet" type="text/css" href="all-ie-only.css" />
<![endif]-->
<div class="row iframe-row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <iframe src="<%= @url %>" name="brands" width="100%" id="player_iframe"></iframe>
        <!--<iframe src="localhost:3000/uploads/1/TheCorridorPitchoutput/story.html" scrollbars="auto" name="brands" width="100%" height="460px"></iframe>-->
    </div>
    <div class="col-lg-1" style="margin-top: 16px;">
        <%= link_to "Back", :back,:class=>"text-style btn btn-lg button_style play_btn" %>
        <!--<a class="btn btn-lg button_style pull-right" href="/game/24/15" style="font-size: 1.4em;">Start</a>-->
    </div>

</div>

<!--<iframe id='iframe_img'src="http://localhost:3000/uploads/p3/game_ptotem/story.html" scrollbars="auto" name="brands" width="1000px;" height="500px"></iframe>-->
<br/>

<script>
    $(function(){

        setTimeout(function() {
            var path = window.location.href;
            var simuation_id = path.split("/")[5];
//            var temp=document.getElementById("player_iframe");
//            var iframecontent=temp.contentDocument || temp.contentWindow.document;
//            var temp1=  iframecontent.getElementById("divSwf");
            window.simulation_id=simuation_id;
            var iFrame = $("body").find("iframe");
            $(iFrame).attr("gotosim", simulation_id);
//                console.log(temp1.id);
//            $("#" + temp1.id).attr("gotoSim", simuation_id)
//            console.log( $("#" + temp1.id).attr("gotoSim"))
//            temp1.setAttribute("gotosim",simuation_id);
//            console.log(temp1);
//            var divSwf = $(iFrame).contents().find("#divSwf");
//            var divSwf = $(iFrame).contents().find("#divSwf");
//            console.log(divSwf)
//            var player = $(iFrame).contents().find("#player");
//            $(divSwf).attr("gotoSim", simuation_id);
//            $(player).css('z-index','-1000');
//            $
// ('#player').css('z-index','-1000')
        }, 5000);

    })
</script>


