<style>
    IFRAME:focus {
        outline: none;
    }

    IFRAME[seamless] {
        display: block;
    }
</style>
        <div class="row">
            <div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-1">
                <iframe src="<%= @url %>" scrollbars="auto" name="brands" width="100%" height="460px" id="player_iframe"></iframe>
                <!--<iframe src="localhost:3000/uploads/1/TheCorridorPitchoutput/story.html" scrollbars="auto" name="brands" width="100%" height="460px"></iframe>-->
            </div>

        </div>
        <div class="row">
            <div class="col-lg-1 col-lg-offset-9">
                <%= link_to "Back", :back,:class=>"text-style btn btn-lg button_style pull-right"%>
                <!--<a class="btn btn-lg button_style pull-right" href="/game/24/15" style="font-size: 1.4em;">Start</a>-->
            </div>
        </div>
    <!--<iframe id='iframe_img'src="http://localhost:3000/uploads/p3/game_ptotem/story.html" scrollbars="auto" name="brands" width="1000px;" height="500px"></iframe>-->
  <br/>

<script>
    $(function(){

        setTimeout(function() {
            var path = window.location.href;
            var simuation_id = path.split("/")[5];
            var temp=document.getElementById("player_iframe");
            var iframecontent=temp.contentDocument || temp.contentWindow.document;
                var temp1=  iframecontent.getElementById("divSwf");

            var iFrame = $("body").find("iframe");
            $(iFrame).attr("gotosim", simuation_id);
//                console.log(temp1.id);
//            $("#" + temp1.id).attr("gotoSim", simuation_id)
//            console.log( $("#" + temp1.id).attr("gotoSim"))
            temp1.setAttribute("gotosim",simuation_id);
            console.log(temp1);
//            var divSwf = $(iFrame).contents().find("#divSwf");
//            var divSwf = $(iFrame).contents().find("#divSwf");
//            console.log(divSwf)
//            var player = $(iFrame).contents().find("#player");
//            $(divSwf).attr("gotoSim", simuation_id);
//            $(player).css('z-index','-1000');
//            $
// ('#player').css('z-index','-1000')
        }, 5000);

    })
</script>


