
<!--<style type="text/css">-->
    <!--table.gridtable {-->
        <!--font-family: verdana, arial, sans-serif;-->
        <!--font-size: 11px;-->
        <!--color: black;-->
        <!--border-width: 1px;-->
        <!--border-color: white;-->
        <!--border-collapse: collapse;-->
    <!--}-->

    <!--table.gridtable th {-->
        <!--border-width: 1px;-->
        <!--padding: 8px;-->
        <!--border-style: solid;-->
        <!--border-color: white;-->
        <!--background-color: #dedede;-->
    <!--}-->

    <!--table.gridtable td {-->
        <!--border-width: 1px;-->
        <!--padding: 8px;-->
        <!--border-style: solid;-->
        <!--border-color: white;-->
        <!--background-color: #ffffff;-->
    <!--}-->
<!--</style>-->

<!--</br>-->
<!--</br></br>-->
<!--<table class="gridtable">-->
    <!--<tr>-->
        <!--<th>Game Name</th>-->
    <!--</tr>-->
    <!--<% @game_info.each do |game| %>-->
    <!--<tr id="game_info<%= game.id %>">-->
        <!--<td><%= game.name %></td>-->
        <!--<td>-->
            <!--<%= link_to 'Play', game_show_path(game.id) %></td>-->
    <!--</tr>-->
    <!--<% end %>-->
<!--</table>-->
        <h2>Your Games are uploaded</h2>