<h1>Listing simulation_data</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @simulation_data.each do |simulation_datum| %>
      <tr>
        <td><%= link_to 'Show', simulation_datum %></td>
        <td><%= link_to 'Edit', edit_simulation_datum_path(simulation_datum) %></td>
        <td><%= link_to 'Destroy', simulation_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulation datum', new_simulation_datum_path %>
