<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_sim_datum.user_id %>
</p>

<%= link_to 'Edit', edit_user_sim_datum_path(@user_sim_datum) %> |
<%= link_to 'Back', user_sim_data_path %>
