html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    font-size: 12px;
    overflow: hidden;
    /*color: #333;*/
    /*font-family: verdana, arial, helvetica, sans-serif;*/
    font-family: OpenSans;
    /*line-height: 18px;*/
    padding-top: 70px;
    background:url('/assets/app_bg.jpg');
    /*background-size: 100% 100%;*/
    background-repeat:no-repeat;
    /*width:100%;*/
    /*height:100%;*/

}

.container{
    /*width: 100% !important;*/
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}



/* navbar styling - starts */
.navbar .logo {
    display: block;
    float: left;
    max-height: 60px;
    /*max-height: 38px;*/
    /*margin-top: 1px;*/
    margin: 10px;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/*.navbar{*/
    /*background: linear-gradient(to bottom, #45484d 0%,#000000 100%);*/
/*}*/

/* navbar styling - ends */


/* anagha css starts */

/*a:link {*/
    /*text-decoration: none;*/
/*}*/

/*a:visited {*/
    /*text-decoration: none;*/
/*}*/

a:hover {
    /*color: #CCCCCC;*/
    text-decoration: none;
}

/*a:active {*/
    /*text-decoration: underline;*/
/*}*/

.account-wall a:hover{
    color: white;
}

.text_style_bottom a:hover{
    color: #000000;
}



@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Light.ttf);
}

.header {
    /*background:linear-gradient(to bottom, #45484d 0%,#000000 100%);*/
    /*height:100px;*/
    /*width: 100%;*/
    /*position:fixed;*/
    /*top:0%;*/

    background-image:url('/assets/graident.gif');
    background-repeat: repeat-x;
    /*height: 100px;*/
    /*width: 100%;*/
    /*position: fixed;*/
    /*top: 0%;*/
    z-index: 1000;
}

.account-wall
{
    margin-top: 18%;
    padding: 10px;
    background-color: #969696;
    border:1px solid #969696;
    border-radius:10px;
}

.form_heading
{
    text-align:center;
    /*font:15px;*/
    font-family: OpenSans;
    font-weight:bold;
    color:white;
}

/*.line_style*/
/*{*/
    /*width:70%;*/
    /*margin-bottom: 0;*/
    /*align:center;*/
    /*-webkit-box-shadow: 0px 5px 8px 0px rgba(255, 255, 255, 0.75);*/
    /*-moz-box-shadow:    0px 5px 8px 0px rgba(255, 255, 255, 0.75);*/
    /*box-shadow:         0px 5px 8px 0px rgba(255, 255, 255, 0.75);*/
/*}*/

.line_style
{
    width:95%;
    align:center;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.edit_user
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    color: #ffffff;
}

.form-password .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin input[type="text"], input[type="email"]
{
    margin-bottom: -1px;
    border:1px;
    border-radius:7px;
    background-color: #c7c5c5;
}



.form-signin input[type="password"]
{
    /*margin-bottom: 10px;*/
    margin-top:2%;
    border:1px;
    border-radius:7px;
    background-color: #c7c5c5;

}

.button_style {
    /*background: linear-gradient(to bottom, #45484d 0%, #000000 100%) !important;*/
    /*color: white !important;*/
    /*margin-top: 5%;*/
    /*font-size: 1em;*/
    /*font-weight: bold;*/

    background-image:url('/assets/button_gradient.gif') !important;
    background-repeat: repeat-x !important;
    border: none !important;
    color: white !important;
    margin-top: 5%;
}

.button_style:hover {
    color: white !important;
    /*background: linear-gradient(to bottom, #45484d 0%, #000000 100%) !important;*/
}

.text-style
{
    color: white;
    text-align: center;
}

.color-text-black{
    color: black;
}

.row_style
{
    /*margin-top: 20%;*/
    padding-top: 2%;
}

.list_heading
{

    font-family: OpenSans;
    font-weight:bold;
    color:white;
    padding-bottom: 3%;
}

.listing-wall
{
    padding: 10px;
    background-color: #969696;
    border:1px solid #969696;
    border-radius:12px;
    min-height: 330px;
    height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
}

.listing_box
{
    /*width:92%;*/
    /*margin:4%;*/
    /*padding:3%;*/
    /*border:1px solid #969696;*/
    /*border-radius:10px;*/
    /*color: white;*/
    /*cursor: pointer;*/
    /*font-size: 14px;*/

    /*width:60%;*/
    /*margin:2%;*/
    /*margin-bottom: 1%;*/
    /*padding:1%;*/
    /*color: white;*/

    color: white;
    font-size: 1.2em;
    margin-bottom: 2%;
    padding: 2%;
    width: 70%;
    cursor: pointer;
    border:1px solid #969696;
    border-radius:10px;
    text-align: center;

}

.listing_box:hover{
    background-color: black;
}

.listing_box_1
{
    /*background-color: rgba(199,197,197,0.5);*/
    background-color: #c7c4c5;

}

.listing_box_2
{
    background-color: #4D4D4D;
}

.slot_number
{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    text-align: center;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;


}


.button_box
{
    width:30%;
    /*background-color: black;*/
    /*margin-top: 380px;*/

    /* background-color: black; */
    top: 330px;
    position: absolute;
    left: 0;
}

.button_box_program
{
    margin-bottom: 10%;
    width:70%;
}

.program_text
{
    /*color: #ffffff;*/
    /*font-size: 20px;*/

    color: #ffffff;
    /*font-size: 1.143em;*/
    margin-left:20%;
}

.program-wall
{
    padding: 10px;
    height: 300px;
    width: 100%;
    background-color: #969696;
    border:1px solid #969696;
    /*border-radius:25px;*/
    overflow-x: hidden;
    overflow-y: auto;
}

.program-wall input[type="text"]
{
    /*margin-bottom: -1px;*/

    border:1px;
    border-radius:7px;
    background-color: #c7c5c5;
    width: 84%;
}

.dropdown_class
{
    width: 100%;
    height: 34px;
    color: #000000;
    background-color:#c7c5c5;
    border: none;
}

.chosen-container-single .chosen-single{
    height: 34px;
    line-height: 32px;
    width: 200px;
    max-width: 232px;
}

#programme_performance_date_chosen .chosen-single{
    width: 86px;
}

#programme_performance_date_chosen .chosen-drop{
    width: 86px;
}

.chosen-container-single .chosen-drop{
    width: 232px;
}
.chosen-container-single .chosen-single div{
    top: 3px;
}

.text_style_bottom
{
    margin-top: 3%;
    color:black;
    text-align: center;
    font-size: 16px;
    /*font-family:OpenSans;*/
}

.icon_style
{
    color:white;
    margin-top: 22%;
}

.edit_simulation > .fields{
    line-height: 3.4em;
}

.check_box_style
{
    background-color: rgba(199,197,197, 0.5);

}

/*listing_new page starts*/

.logout_button
{
    background:linear-gradient(to bottom, #45484d 0%,#000000 100%) !important;
    color:white !important;
    float:right;
    width: 12%;
    margin-top: 2%;
}

.listing_text
{
    color:white;
    font-size: 1em;
}

.white{
    color: white;
}

#instruction_text{
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4em;
    height: 263px;
}

.listing_button
{
    /*background:linear-gradient(to bottom, #45484d 0%,#000000 100%) !important;*/
    /*color:white !important;*/
    /*float:right;*/
    /*width: 24%;*/
    /*width: 100%;*/
    /*margin-top: 3%;*/
    /*font-weight: bold;*/

    color: white !important;
    width: 100%;
    margin-top: 15%;
    background-image:url('/assets/button_gradient.gif') !important;
    background-repeat: repeat-x !important;
    border: none !important;
}
/*listing_new page ends*/

.budget_div {
    padding: 2%;
    color: white;
    font-weight: bold;
    background-color: #969696;
    margin-top: 2%;
}

.top-bottom-nil-margin{
    margin-top: 0;
    margin-bottom: 0;
}
/* anagha css ends */

.duplicate-prog-err, .blank-slot-err{
    border: 2px solid red;
}

.actual-fields{
    height: 38px;
    margin: 0 auto;
    width: 98%;
    margin-bottom: 1%;
}
/*$("#sim_user_data_budget_available").val(user_budget_manipulated);*/